/* Your code here */

.card-1 img {
  width: 1in;
}
.top-banner {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  border-bottom: 2px solid #407287;
}
.title{
  text-transform: capitalize;
  text-align: center;
  font-size: 32pt;
}
.left {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  font-size: 10pt;
}
.right {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  font-size: 7pt;
}
.bottom{
  padding: 1em;
}
.contact{
  margin-top: 1em;
  font-size: 8pt;
}
.names{
  font-weight: bold;
  font-size: 120%;
}
.label{
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
